body {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.blockBtn {
    width: 8%;
    font-size: 15px;
    border-radius: 8px;
    background-color: red;
}

.blockbtnColor {
    color: white;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    overflow: hidden;
    color: #fff !important;
    background-color: #f44336 !important;
    height: 250px;
}
.headerRed {
    color: #fff !important;
    background-color: #f44336 !important
}


/* Style the header links */
.header-bottom a {
    color: white;
    text-align: center;
    vertical-align: central;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10%;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 50px;
    font-weight: bold;
    color: limegreen;
}

/* Change the background color on mouse-over */
.header-bottom a:hover {
    color: #fff !important;
    background-color: #f44336 !important;
}


/* Float the link section to the right */
.header-bottom {
    height: 60px;
    color: #fff !important;
    background-color: #f44336 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}



#company_logo {
    width: 200px;
    height: 200px;
    background-image: url(Images/finderlogo.png);
    float: left;
    text-align: center;
}

.header input[type=text] {
    margin-left: 22%;
    width: 340px;
    height: 50px;
    border-radius: 14px 0px 0px 14px;
    font-size: 18px;
}

.header input[type=submit] {
    border-radius: 0px 14px 14px 0px;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 80px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
/*Footer*/
.footer {
    color: #fff !important;
    background-color: #f44336 !important;
    height: 200px;
    width: auto;
    text-align: center;
    margin-bottom: 0px;
}

    .footer .logo1 {
        display: block;
        margin-left: 40%;
        margin-top: 10%;
        margin-top: 3%;
    }

.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#myInput {
    background-image: url('/CSS/698956-icon-111-search-512.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
