@{
    ViewBag.Title = "Start";
}

<h1>Välkommen!</h1>


<div class="w3-main">


    <div class="w3-container" id="designers" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Phersonalklubben statistik</b></h1>
        <hr style="width:150px;border:5px solid red" class="w3-round">

    </div>

    <!-- Aktiva användare -->
    <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/fonts/checkedbox.png" alt="Userimage" style="width:100%">
                    <div class="w3-container">
                        <h1 class="w3-xxlarge w3-text-red"><b>Aktiva användare @DateTime.Now.Year</b></h1> <br />
                        @*<h1 style="color: lawngreen; text-align:center" class="w3-xxxlarge"><b>@Html.ActionLink((string)Model.ActiveRow.ToString(), "ActiveUsers")</b></h1>*@
                    </div>
                </div>
            </div>
            <!-- Flaggade användare -->
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/fonts/flag.png" alt="Userimage" style="width:100%">
                    <div class="w3-container">
                        <h1 class="w3-xxlarge w3-text-red"><b>Hantera registreringar</b></h1> <br />
                        @*<h1 style="color: aqua; text-align:center" class="w3-xxxlarge"><b>@Html.ActionLink((string)Model.FlaggedRow.ToString(), "FlaggedErrands")</b></h1>*@
                    </div>
                </div>
            </div>
            <!-- Blockade användare -->
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="~/fonts/blocked.png" alt="Userimage" style="width:100%">
                    <div class="w3-container">
                        <h1 class="w3-xxlarge w3-text-red"><b>Totala registreringar</b></h1><br />
                        @*<h1 style="color: orange; text-align:center" class="w3-xxxlarge"><b>@Html.ActionLink((string)Model.BlockedRow.ToString(), "BlockedUsers")</b></h1>*@

                    </div>
                </div>
            </div>
        </div>
    <br /><br />
</div>